<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}




    </style>

</head>
<body>

    <form method="Get" action="/MovieDetail">
        
            

        <div data-th-each="w: ${hello}" class="flex-container">
            <table>
                <tr>
                    <td style="width: 30%">
                       
                        <img data-th-src="*{w.image}" alt="">
                        
                
                    </td>
                    <td>
                        
                        

                        <p>title: <code data-th-text="${w.title}"></code></p>

                        <p data-th-text="${w.year}"></p>

                       
                        <p>
                           
                            
                        </p>
                    </td>
                </tr>
            </table>

            Save: <input type="hidden" name="wid" data-th-value="${w.getId()}"></input>
            <button type="submit">Save</button> 
            <p> 
                id: <code data-th-text="${w.id}"></code>

                
            
            </p>

            
        </div>
       
      
    </form> 

    
</body>
</html>